{% extends "account/base.html" %}
{% load static %}
{% block content %}
{% include 'core/nav.html' %}
<section class="section-book" id="section-book">
    <div class="row">
        <div class="book">
            <div class="book__form">
              {% for message in messages %}
                  <h4 style="color:crimson; font-size:1.5rem;">{{ message }}</h4>
              {% endfor %}
                <div class="u-center-text u-margin-bottom--medium">
                    <h2 class="heading-secondary">
                        Verify Your E-mail Addres
                    </h2>
                </div>
<h4 style="color:crimson; font-size:1.5rem;">We have sent an e-mail to you for verification.
  Follow the link provided to finalize the signup process.
  Please contact us if you do not receive it within a few minutes.</h4>
</div>
</div>
</div>
</section>

{% endblock %}
