{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/nav.html' %}
    <main>
        <section class="abt">
            <div class="abt__header u-margin-bottom--big">
                <div class="abt__header__text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary--sub">About Marko Ventures</span>
                    </h1>
                </div>
            </div>
            <div class="abt__content  u-margin-bottom--medium">
                <div class="u-center-text u-margin-bottom--medium">
                    <h2 class="heading-secondary">
                        who we are
                    </h2>
               </div>

               <p>
                 Marko Agro Ventures is a conglomerate of agriculturally related businesses sprouting from Nigeria ( Africa's giant ). We have interest in a variety  of agricultural activities ranging from the cultivation, processing, storage, distribution and supply of farm crops ( Both food  and cash crops ); procurement, rearing, breeding, processing, sales , distribution and supply of varieties and species of farm animals ; Processing, sales and supply of animal feeds, crops and animals pests and diseases control chemical products, soil and crops enhancement formulas and we are also  available for consultancy on any and all aspects of the agricultural value chain .
               </p>
            </div>
            <div class="abt__content  u-margin-bottom--medium">
                <div class="u-center-text u-margin-bottom--medium">
                    <h2 class="heading-secondary">
                        Our Vision
                    </h2>
               </div>

               <p>
                 Our vision is to see / witness Nigeria and Africa at large attain and sustain adequate food and economic security.In line with United Nations( UN )’ Millennium Development Goals ( MDGs)  on food and economic security, we  envision a having a continent and even world at large where the food and economic needs / demands of every average man can be met conveniently.

               </p>
            </div>
            <div class="abt__content  u-margin-bottom--medium">
                <div class="u-center-text u-margin-bottom--medium">
                    <h2 class="heading-secondary">
                        Our Mission
                    </h2>
               </div>

               <p>
                 OUR mission is to harness all agricultural potentials available to us Africans to realise our vision through linking stakeholders and bridging the gaps evident across the agricultural value chain. </p>
                <p>  We strive to ease the relationship among and between all the key players within the agricultural value chain , including ; The farmers, processing industries, whole sellers , distributors , retailers and the final consumers of each and every agricultural product desired and available within the African continent.
               </p>
            </div>
            <div class="abt__content  u-margin-bottom--medium">
                <div class="u-center-text u-margin-bottom--medium">
                    <h2 class="heading-secondary">
                        Strategy
                    </h2>
               </div>

               <p>
                 Banking on the wealth of knowledge and experience of our strong, vibrant and ever growing team of experts across the value chain ( With their individual and collective networks of connections ), we exert efforts to ease all bottlenecks and obstacles encountered hitherto, doing agricultural business, so as to hasten the processes , reduce cost to encourage production, avoid and or  wastage , and increase profitability for all stakeholders and also not forgetting, getting such Agro – products to consumers/ customers in record time a d at unbeatable moderate prices compared to others in the same lines of businesses.

               </p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="copyright">
            &copy; Copyright 2020 by Marko-Agro-Ventures.
        </p>
    </footer>

{% endblock content %}
