{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include 'core/nav.html' %}
<section class="product">
    <div class="product__header">
        <div class="product__text-box">
            <h1 class="product__heading u-margin-bottom--small">
                <span class="product__heading--main">Quality</span>
                <span class="product__heading--sub">products</span>
            </h1>

            <p class="product__paragraph u-margin-bottom--small">Bringing growth, ingenuity, and experience to market.</p>
            <a href="tel:07062225299" class="product__cta">contact us about this product</a>
        </div>
    </div>
</section>


<main class="product__main">
    <section class="categories u-margin-bottom--big">
        <div class="categories__text-box">

            <div class="u-center-text u-margin-bottom--big">
                <h2 class="product__heading">
                   categories
                </h2>
           </div>

           <div class="categories__text-box--main">
                <div class="categories__text-box--main--1 active" name="category">
                   <img src="{% static 'images/growth1.png' %}" alt="crop">
                    <h3 class="u-margin-bottom--small">Crops</h3>
                </div>
                <div class="categories__text-box--main--2" name="category">
                    <img src="{% static 'images/goat1.png' %}" alt="crop">
                    <h3 class="u-margin-bottom--small">Animals</h3>
                </div>
               </div>
        </div>
    </section>

    <div class="u-center-text u-margin-bottom--big">
        <h2 class="heading-secondary">
            Our products
        </h2>
   </div>

   <div class="product-visible">
        <div class="product-category">
            <div class="product-category--1">

                <section class="product-visible__card-container">
                  {% if items %}
                  {% for item in items.crops %}
                        <figure class="product-visible__card">
                            <a href="{{ item.get_absolute_url }}">
                                <img src="{{ item.image.url }}" alt="image" class="product-visible__card--image">
                                <h3 class="heading-tertiary product-visible__card--heading">{{ item.title }}</h3>
                            </a>
                        </figure>
                        {% endfor %}
                        {% endif %}
                </section>

                <div class="pagination_container">
                    {% if is_paginated %}
                    <ul class="pagination">
                      {% if crops.has_previous %}
                        <li><a href="?page={{ crops.previous_page_number }}">«</a></li>
                        {% endif %}

                        {% for num in crops.paginator.page_range %}
                        {% if crops.number == num %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > crops.number|add:'-3' and num < crops.number|add:'3' %}
                        <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if items.crops.has_next %}
                        <li><a href="?page={{ crops.next_page_number }}">»</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>

            <div class="product-category--2">
                    <section class="product-visible__card-container">
                      {% if items %}
                      {% for item in items.animals %}
                        <figure class="product-visible__card">
                            <a href="{{ item.get_absolute_url }}">
                                <img src="{{ item.image.url }}" alt="image" class="product-visible__card--image">
                                <h3 class="heading-tertiary product-visible__card--heading">{{ item.title }}</h3>
                            </a>
                        </figure>
                        {% endfor %}
                        {% endif %}
                    </section>

                    <div class="pagination_container">
                        {% if is_paginated %}
                        <ul class="pagination">
                          {% if animals.has_previous %}
                            <li><a href="?page={{ animals.previous_page_number }}">«</a></li>
                            {% endif %}

                            {% for num in animals.paginator.page_range %}
                            {% if animals.number == num %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > animals.number|add:'-3' and num < animals.number|add:'3' %}
                            <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if animals.has_next %}
                            <li><a href="?page={{ animals.next_page_number }}">»</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
            </div>

        </div>
        <!-- pagination -->
        <!-- <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div> -->
   </div>

</main>
{% include 'core/footer.html' %}
{% endblock content %}
