{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <main class="contact">
        <section class="contact__main">
            <div class="contact__main__text-box">
               <div class="contact__main__text-box--main u-margin-bottom--medium">
                    <p class="u-margin-bottom--smallest">Contact Us</p>
                    <span>Need to get in touch with mako ventures? we're all ears.</span>
               </div>



               <div class="contact__main__text-box--secondary u-margin-bottom--small">
                    <a href="tel:"><i class="icon-basic-smartphone"></i> Give us a call </a>
                    <a href="mailto:"><i class="icon-basic-mail-open-text"></i> send us an email</a>
                </div>
            </div>
        </section>
        <div class="contact__image"></div>
    </main>
{% endblock content %}
