{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include 'core/nav.html' %}
    <main class="contact">
        <section class="contact__main">
            <div class="contact__main__text-box">
               <div class="contact__main__text-box--main u-margin-bottom--medium">
                    <p class="u-margin-bottom--smallest">Contact Us</p>
                    <span>Need to get in touch with mako ventures? we're all ears.</span>
               </div>

               <!-- new -->
               <div class="contact__main__text-box--secondary u-margin-bottom--small">
                    <a href="tel:07062225299"><i class="icon-basic-smartphone"></i> Give us a call </a>
                    <a href="mailto:sambo.musa@markoventures.com,orumen.uamarin@markoventures.com" target="_blank"><i class="icon-basic-mail-open-text"></i> send us an email</a>
                </div>

                <!-- new -->
                <div class="contact__main__text-box--main u-margin-bottom--medium">
                    <span>Call us: 07062225299, 09057556206</span>
                    <br/>
                    <span>Send us a mail: sambo.musa@markoventures.com, orumen.uamarin@markoventures.com</span>
               </div>
            </div>
        </section>
        <div class="contact__image"></div>
    </main>
{% endblock content %}
