<footer class="footer">
    <ul class="nav">
            <li class="nav__item"><a href="#" class="nav__link">Lorem ipsum dolor</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Lorem ipsum dolor</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Lorem ipsum dolor</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Lorem ipsum dolor</a></li>
    </ul>
    <p class="copyright">
        &copy; Copyright 2020 by Marko-Agro-Ventures. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus minima possimus, molestias, assumenda expedita deleniti eligendi, accusantium debitis adipisci non voluptates recusandae blanditiis magnam tempore laborum neque ipsa repellat cupiditate.
    </p>
</footer>
