<footer class="footer">
    <ul class="nav">
            <li class="nav__item"><a href="{% url 'core:category' %}" class="nav__link">Products</a></li>
            <li class="nav__item"><a href="{% url 'core:contact' %}" class="nav__link">Contact Us</a></li>
            <li class="nav__item"><a href="{% url 'core:about' %}" class="nav__link">About Us</a></li>
            <li class="nav__item"><a href="{% url 'core:about' %}" class="nav__link">Consultancy</a></li>
    </ul>
    <p class="copyright">
        &copy; Copyright 2020 by Marko-Agro-Ventures.
    </p>
</footer>
