{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include 'core/nav.html' %}
    <div class="header" id="home">
      {% for message in messages %}
      <h4 style="color:crimson; font-size:1.5rem;">{{ message }}</h4>
      {% endfor %}
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Marko Ventures</span>
                <span class="heading-primary--sub">Quality Services Guaranteed</span>
            </h1>

        </div>
    </div>

    <main>
        <section class="section-about" id="section-about">

           <div class="u-center-text u-margin-bottom--big">
                <h2 class="heading-secondary">
                    about the history
                </h2>
           </div>
           <div class="grid--two">
               <div class="col-1-of-2">
                    <h2 class="heading-tertiary u-margin-bottom--small">somethings about mako ventures</h2>
                    <p class="paragraph">
                        Welcome to Marko Agro Ventures a subsidiary of Marko group of companies. Here we take pride in catering for all your agriculturally
                        related concerns springing from within Nigeria.</p>
                        <p class="paragraph">With our wealth of experience and available expertise across the Nigerian agricultural sector, we can conviniently service your nedds/demands with regards to any agricultural product and or services in recod time.</p>

                    <h2 class="heading-tertiary u-margin-bottom--small">Our Activities</h2>
                    <p class="paragraph">
                      Generally, we take pride in importation, exportation, sales, supply, set up, management or distribution of agricultural products and facilities.
                    </p>


                    <a href="#" class="btn--text">learn more &rarr;</a>
                </div>

              <div class="row">
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="{% static 'images/marko-index-photo2.jpg' %}" alt="Photo 1" class="composition__photo composition__photo--p1"/>
                        <img src="{% static 'images/marko-photo4.jpg' %}" alt="Photo 2" class="composition__photo composition__photo--p2"/>
                        <img src="{% static 'images/marko-photo6.jpg' %}" alt="Photo 3" class="composition__photo composition__photo--p3"/>
                     </div>
                 </div>
              </div>
           </div>
        </section>

        <section class="section-products" id="section-products">

            <div class="u-center-text u-margin-bottom--big">
                <h2 class="heading-secondary">
                    some of our products
                </h2>
           </div>

            <div class="row u-margin-bottom--big">
                <div class="col-1-of-4">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>

                            <h4 class="card__heading">
                                <span class="card__heading-span--1"> Vegetables </span>
                                </h4>

                            <div class="card__details">
                               <p>
                                Vegetable farming, Producing vegetables such as tomatoes, ugwu, watermelon, cucumber, pepper, okro, ewedu, etc, can guarantee you a bumper harvest and an amazing return on investment [every 60 days] that could reach100 percent in profit.
                               </p>

                            </div>
                        </div>

                    </div>
                 </div>
                 <div class="col-1-of-4">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>

                            <h4 class="card__heading">
                                <span class="card__heading-span--2">Cash Crop</span>
                                </h4>

                            <div class="card__details">
                               <p>
                                Cash crops are an essential part of sustainable intensification as income generated with cash crops provides farm households with means to save and invest in a more productive farm, and cash crops may have a catalytic effect on agricultural innovations as they add value and productivity in rural areas.
                              </p>
                              </div>
                        </div>

                    </div>
                 </div>
                 <div class="col-1-of-4">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>

                            <h4 class="card__heading">
                                <span class="card__heading-span--3">Poultry Farming</span>
                                </h4>

                            <div class="card__details">
                               <p>
                                 Generally poultry farm  are establish for the purpose of producing eggs, meat and generating high revenue from these products.
                                 Around, billions of chickens are raised throughout the world as a good source of food from their eggs and meat.
                               </p>

                            </div>
                        </div>

                    </div>
                 </div>
                 <div class="col-1-of-4">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--4">
                                &nbsp;
                            </div>

                            <h4 class="card__heading">
                                <span class="card__heading-span--4">Goat Farming</span>
                                </h4>

                            <div class="card__details">
                               <p>
                                 Goat farming can be very suited to production with other livestock such as sheep and cattle on low-quality grazing land.
                                 Goat efficiently convert sub-quality grazing matter that is less desirable for other livestock into quality lean meat.
                              </p>

                            </div>
                        </div>

                    </div>
                 </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="u-center-text ">
                <a href="{% url 'core:category' %}" class="btn btn--green btn--cta btn--animated">Discover More</a>
            </div>
            {% else %}
            <div class="u-center-text ">
                <a href="{% url 'core:login' %}" class="btn btn--green btn--cta btn--animated">Discover More</a>
            </div>
            {% endif %}

        </section>
    </main>
    {% include 'core/footer.html'%}
    {% endblock content %}
