<div class="background">
   <div class="background__place-center">
        <ul class="background__list">
            <li class="background__item"><a href="{% url 'core:business' %}" class="background__link">Our Business</a></li>
            <li class="background__item"><a href="{% url 'core:contact' %}" class="background__link">Contact us</a></li>
            <li class="background__item"><a href="{% url 'core:category' %}" class="background__link">Products</a>
              <div class="">
                <a class="" href="#">Action</a>
                <a class="" href="#">Another action</a>
              </div>
            </li>
        </ul>
   </div>
</div>
<div class="navigation">
    <div class="navigation__logo-box">
        <a href="{% url 'core:index' %}" class="logo">
            <h1>marko</h1>
        </a>
    </div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="{% url 'core:business' %}" class="navigation__link">Our Business</a></li>
            <li class="navigation__item"><a href="{% url 'core:category' %}" class="navigation__link">Products</a></li>
            <li class="navigation__item"><a href="{% url 'core:contact' %}" class="navigation__link">Contact us</a></li>
        </ul>
    </nav>

    <input type="checkbox" class="navigation__check" id="check">
    <label for="check" class="check">
        <nav class="navigation__ham">
            <div class="navigation__ham--item"></div>
            <div class="navigation__ham--item"></div>
            <div class="navigation__ham--item"></div>
         </nav>
    </label>
</div>
