{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <section class="product-header u-margin-bottom--big">
        <div class="product-header__text-box">
            <h1 class="product-header__text">
                <span class="product-header__text--main">Our products</span>
                <span class="product-header__text--sub">Lorem ipsum dolor</span>
            </h1>
        </div>





        <figure class="product-header__slider">
            <div class="product-header__slider--1">1</div>
            <div class="product-header__slider--2">2</div>
            <div class="product-header__slider--3">3</div>
            <div class="product-header__slider--4">4</div>
            <div class="product-header__slider--5">5</div>
        </figure>
    </section>



    <main>
        <section class="section">
            <div class="u-center-text u-margin-bottom--big">
                <h2 class="heading-secondary">
                    here are some of our best sellers
                </h2>
           </div>

           <div class="section__products">
              <div class="section__products--1">
                1
              </div>


              <div class="section__products--2">
                2
              </div>
           </div>


        </section>
    </main>
{% endblock content %}
