//COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:rgb(40, 180, 133);

$color-secondary-dark:#ff7730;
$color-secondary-light:#ffb900;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-blue:#5f83a3;
$color-secondary: rgb(16, 29, 44);


$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-light:#ccc;
$color-grey-light-1:#f7f7f7;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$color-white:#ffffff;
$color-shadow:rgb(0,0,0);

// GRID-VARIABLES
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

