.btn{
   &,&:link,&:visited{
       display: inline-block;
       font-weight: 600;
       font-size: 1.2rem;
       padding: 1.5rem 6.5rem;
       text-decoration: none;
       text-transform: uppercase;
       transition: all .2s;


       border: none;
       cursor: pointer;
    
   }

   

   &--white{
       background: #fff;
       color:#777;

       &::after{
            background: white;
       }
   }

   &--green{
    background: $color-primary;
    color:$color-white;

    &::after{
         background: $color-primary;
    }
}

   &--cta{
       border-radius: 10rem;
   }

   &--animated{
        position: relative;
        border-radius: 10rem;


        &::after{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            transition: all .4s;
        }

        &:hover{
            transform: translateY(-.3rem);
            box-shadow: 0 1rem 2rem
            rgba($color-shadow,.2);
        }

        &:active,&:focus{
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem 2rem
            rgba($color-shadow,.2);
            outline: none;
        }

        &:hover::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
 
   }
}

.btn--text{
    &:link,&:visited{
        display: inline-block;
        text-decoration: none;
        transition: all .4s;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        font-size: 1.6rem ;
        margin: 1.5rem 0;
    }

    &:hover{
        color: $color-white;
        background:linear-gradient(
            to left bottom,
            $color-primary,
            $color-primary-dark);
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-shadow,.15);
    }

    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 2rem
         $color-shadow;
    }
}